
<header>
    <ul>
        <li>Rock</li>
        <li>Dance-pop</li>
    </ul>
    <button id="filterButton" alt="Filter button">
        <span class="material-icons">
            filter_alt
        </span>
    </button>
</header>
