<nav>
    <ul>
       <li>
        <a href="/">        
            <span class="material-icons">
                filter_alt
            </span>
        </a>
        </li>
       <li>
       <a href="/editprofile">
            <span class="material-icons">
                person_outline
            </span>
        </a>
        </li>
    </ul>
</nav>