{% extends "layout.njk" %}
{% block content %}
<!-- multipart/form-data is voor file uploads -->
<form action="/editprofile" method="post" enctype="multipart/form-data">
  <h1>Edit Profile</h1>

  <div>
    <img src="/uploads/avatar.jpg" alt="">
    <label id="uploadAvatar" >Upload Avatar<input type="file" name="avatar" /></label>
  </div>



  <div>
    <label for="firstName">First name</label>
    <input id="firstName" type="text" name="firstName" value={{user.firstName}}  placeholder="Fill in your first name..."/>

    <label for="lastName">Last name</label>
    <input id="lastName" type="text" name="lastName" value={{user.lastName}} placeholder="Fill in your last name..." />

    <label for="description">Description</label>
    <textarea id="description" type="text" name="description" placeholder="Fill in your description...">{{user.description}}</textarea>
  </div>

  <h2>Genres</h2>
  <input type="text" list="genreSuggestions" name="genres" placeholder="Search for genres...">
  <datalist id="genreSuggestions">
    {% for genre in genres %}
      <option value="{{genre}}">
    {% endfor %}
  </datalist>
  <ul>
    {% for genre in user.genres %}
      <li>
        <label for={{genre}}>{{genre}}</label>
        <input type="checkbox" name="genres" checked="checked" value={{genre}} id={{genre}}>
      </li>
    {% endfor %}
  </ul>

  <h2>Artists</h2>
  <input type="text" list="artistSuggestions" name="artists" placeholder="Search for artists...">
  <datalist id="artistSuggestions">
    {% for artist in artists %}
      <option value="{{artist}}">
    {% endfor %}
  </datalist>
  <ul>
    {% for artist in user.artists %}
      <li>
        <label for={{artist}}>{{artist}}</label>
        <input type="checkbox" name="artists" checked="checked" value={{artist}} id={{artist}}>
      </li>
    {% endfor %}
  </ul>

  <button id="saveProfileButton">SAVE</button>
</form>
{% endblock %}