{% extends "layout.njk" %}
{% block content %}
  {% include "partials/filterHeader.njk" %}
  <h1>Suggested Users</h1>
    <!-- conditional -->
    {% if users.length > 0 %}
      <ul>
        {% for user in users %}
        {% if user.suggested == true %}
          <li>
            <a href="#">
              <img src={{user.image}} alt={{user.name}}>
              <div>
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <p>{{user.description}}</p>
                <ul>
                  {% for genre in user.genres %}
                    <li>{{genre}}</li>
                  {% endfor %}
                  {% for artist in user.artists %}
                    <li>{{artist}}</li>
                  {% endfor %}
                </ul>
              </div>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <p>Can't find any suggested users.</p>
    {% endif %}

  <h1>Results</h1>
    <!-- conditional -->
    {% if users.length > 0 %}
      <ul>
        {% for user in users %}
          <li>
            <a href="#">
              <img src={{user.image}} alt={{user.name}}>
              <div>
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <p>{{user.description}}</p>
                <ul>
                  {% for genre in user.genres %}
                    <li>{{genre}}</li>
                  {% endfor %}
                  {% for artist in user.artists %}
                    <li>{{artist}}</li>
                  {% endfor %}
                </ul>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Can't find any users based on your filters.</p>
    {% endif %}
    <button id="showMoreButton">Show more</button>

  <div id="filterMenu">
    <form action="/" method="get">
      <h1>Filters<h1>
      <h2>Genres<h2>
      <input type="text" placeholder="Search for genres...">
      <ul>
        {% for genre in genres %}
          <li>
            <label for={{genre}}>{{genre}}</label>
            {% if selectedGenres.length > 0 and genre in selectedGenres%}
                <input type="checkbox" name="genres" value={{genre}} id={{genre}} checked="checked">
              {% else %}
                <input type="checkbox" name="genres" value={{genre}} id={{genre}}>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <h2>Artists<h2>
      <input type="text" placeholder="Search for artists...">
      <ul>
        {% for artist in artists %}
          <li>
            <label for={{artist}}>{{artist}}</label>
            {% if selectedArtists.length > 0 and artist in selectedArtists%}
                <input type="checkbox" name="artists" value={{artist}} id={{artist}} checked="checked">
              {% else %}
                <input type="checkbox" name="artists" value={{artist}} id={{artist}}>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <button id="filterDoneButton">FILTER</button>
    </form>
  </div>

{% endblock %}