{% extends "layout.njk" %}
{% block content %}
  <h1>Suggested Users</h1>
    <!-- conditional -->
    {% if suggestedUsers.length > 0 %}
      <ul>
        {% for user in suggestedUsers %}
          <li>
            <a href="#">
              <img src={{user.image}} alt={{user.name}}>
              <div>
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
                <ul>
                  {% for genre in user.genres %}
                    <li>{{genre}}</li>
                  {% endfor %}
                </ul>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Can't find any suggested users.</p>
    {% endif %}

  <h1>Results</h1>
    <!-- conditional -->
    {% if resultUsers.length > 0 %}
      <ul>
        {% for user in resultUsers %}
          <li>
            <a href="#">
              <img src={{user.image}} alt={{user.name}}>
              <div>
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
                <ul>
                  {% for genre in user.genres %}
                    <li>{{genre}}</li>
                  {% endfor %}
                </ul>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Can't find any users based on your filters.</p>
    {% endif %}

  <div id="filterMenu">
    <h1>Filters<h1>
    <h2>Genres<h2>
    <input type="text" placeholder="Search for genres...">
    <ul>
        <li>Rock</li>
        <li>Dance-pop</li>
    </ul>
    <h2>Artists<h2>
    <input type="text" placeholder="Search for artists...">
    <ul>
        <li>Rick Astley</li>
        <li>Nickelback</li>
    </ul>
    <button id="filterDoneButton">DONE</button>
  </div>

{% endblock %}