<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Txai Pereira de Lacerda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <noscript><link rel="stylesheet" href="css/no-js.css" type="text/css" /></noscript>
    <!-- Bron: How to link external stylesheet only if javascript is enabled. (2012, 25 juni). Stack Overflow. https://stackoverflow.com/questions/11197881/how-to-link-external-stylesheet-only-if-javascript-is-enabled -->
    <title>Txai Pereira de Lacerda - Project Tech</title>
</head>

<body>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% include "partials/nav.njk" %}
</body>
</html>