{% extends "layout.njk" %}
{% block content %}
  <h1>Edit Profile</h1>

  <img src="" alt="">
  <button>Upload image</button>

  <label name="firstName" value="firstName">First name<label>
  <input type="text" name="firstName" placeholder="Fill in your first name...">

  <label name="lastName" value="lastName">Last name<label>
  <input type="text" name="lastName" placeholder="Fill in your last name...">

  <label name="description" value="description">Description<label>
  <input type="text" name="description" placeholder="Fill in your description...">

  <label name="genres" value="genres">Genres<label>
  <input type="text" name="genres" placeholder="Search for genres...">
  <ul>
    <li>Genre 1</li>
    <li>Genre 2</li>
  </ul>

  <label name="artists" value="artists">Artists<label>
  <input type="text" name="artists" placeholder="Search for artists...">
  <ul>
    <li><button>Artist 1<button></li>
    <li><button>Artist 2<button></li>
  </ul>
{% endblock %}