#filterMenu {
    display: block;
    transform: translate(0, 0);
    background-color: #181818;
    position: relative;
    z-index: 0;
    padding: 15px 0 0 33px;
    height: auto;
    transition: 0.7s;
}